
<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/auth/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="/static/auth/css/snow.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/auth/css/style.css" rel="stylesheet" type="text/css" media="all" />


    <title>网页聊天室注册</title>
</head>
<body>
    <div class="snow-container">
        <div class="snow foreground"></div>
        <div class="snow foreground layered"></div>
        <div class="snow middleground"></div>
        <div class="snow middleground layered"></div>
        <div class="snow background"></div>
        <div class="snow background layered"></div>
      </div>

      <h1>注册成为聊天室的一员</h1>
        <div class="main-agileits ">
            <div class="form-w3-agile">
            <form action="{{ url_for('auth.register') }}" method="post">
                <div class="form-group">
                    <label for="exampleInputUsername">请输入用户名</label>
                    <input type="text" class="form-control" id="exampleInputUsername" name="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">请输入邮箱</label>
                    <input type="email" class="form-control" id="exampleInputEmail" name="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">请输入密码</label>
                    <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="Password">
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="submit" value="确认注册" class="btn btn-primary">
                <p class="p-bottom-w3ls">已经注册？<a href="{{ url_for('auth.login') }}">点击这里登录</a> </p>
            </form>
            </div>
        </div>
    </div>




















{% if messages %}
<script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
</script>
{% endif %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>